<footer>
  <div class="footer-first">
    <div class="logo-n-menu-footer">
      <div class="logo-n-text">
        <svg class="footer-svg">
          <a href="#main-page">
            <use href="./img/icons.svg#logo"></use>
          </a>
        </svg>
        <p class="logo-text">
          Whether you're looking for a healthy<br />
          snack or a thoughtful gift, our fruit <br />
          baskets are the perfect choice.
        </p>
      </div>
      <div class="menu-contacts-footer">
        <div class="menu">
          <ul>
            <li>
              <a class="footer-menu-item" href="#howitworks-link"
                >how it works</a
              >
            </li>
            <li>
              <a class="footer-menu-item" href="#vegetables-link">vegetables</a>
            </li>
            <li>
              <a class="footer-menu-item" href="#reviews-link">reviews</a>
            </li>
          </ul>
        </div>
        <div class="contacts">
          <a class="menu-contact-item" href="tel:+380684439426"
            >+380(68)443-94-26</a
          >
          <adress class="menu-contact-item">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </adress>
        </div>
      </div>
    </div>
    <div class="policy-copy-footer">
      <p class="privacy-n-cookie">
        <a href="">Privacy Policy</a>
        /
        <a href="">Cookie setting</a>
      </p>
      <p class="privacy-n-cookie">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
