<section class="header-section">
  <div class="header-main-div">
    <div class="header-logo-svg-main-div">
      <svg class="header-logo-svg-icon">
        <use xlink:href="img/icons.svg#logo" x="0" y="0"></use>
      </svg>
    </div>

    <div class="header-menu-ul-button-div">
      <div>
        <ul class="header-menu-ul">
          <li class="header-menu-li">How It Works</li>
          <li class="header-menu-li">Vegetables</li>
          <li class="header-menu-li">Reviews</li>
        </ul>
      </div>
      <div>
        <button class="header-button">SHOP NOW</button>
      </div>
    </div>
  </div>
</section>
