
<section class="header-section">
  <div class="header-main-div">
  <div class="header-logo-svg-main-div">

    <div class="header-logo-svg-div">
      <div><svg class="header-logo-svg-icon"><use xlink:href="img/icons.svg#icon"></use></svg></div>
      <div class="header-logo-svg-text-div"><svg class="header-logo-svg-text"><use xlink:href="img/icons.svg#text"></use></svg></div>
    </div>
  </div>

  <div class="header-menu-ul-button-div">
    <div>
        <ul class="header-menu-ul">
          <li class="header-menu-li">How It Works</li>
          <li class="header-menu-li">Vegetables</li>
          <li class="header-menu-li">Reviews</li>
        </ul>
    </div>

    <div>
      <button class="header-button">SHOP NOW</button>
    </div>
  </div>

  </div>
</section>
