<section class="header-section">
  <div class="header-main-div">
    <div class="header-logo-svg-div">
      <svg class="header-logo-svg-icon">
        <a href="./index.html"><use xlink:href="img/icons.svg#logo"></use></a>
      </svg>
      <svg class="header-nav-svg">
        <use xlink:href="img/icons.svg#nav-line"></use>
      </svg>
    </div>

    <nav class="header-nav hidden">
      <ul class="header-nav-ul">
        <li class="header-nav-li">
          <a href="">How It Works</a>
        </li>
        <li class="header-nav-li">
          <a href="">Vegetables</a>
        </li>
        <li class="header-nav-li">
          <a href="">Reviews</a>
        </li>
      </ul>
      <button class="header-nav-button">SHOP NOW</button>
    </nav>

    <nav class="side-nav-div side-nav-div-active">
      <ul class="side-nav-ul">
        <li class="side-nav-li">
          <a href="">How It Works</a>
        </li>
        <li class="side-nav-li">
          <a href="">Vegetables</a>
        </li>
        <li class="side-nav-li">
          <a href="">Reviews</a>
        </li>
      </ul>
      <button class="side-nav-button">SHOP NOW</button>
    </nav>
  </div>
</section>
