<section class="hero-section">
  <div class="hero-section-main-div">
    <div class="hero-green-color-div">
      <h1 class="hero-section-h1-title">
        ORGANIC VEGETABLES TO YOUR DIET TODAY!
      </h1>
      <p class="hero-section-p-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="hero-img-div">
      <img src="./img/hero.jpg" alt="Vegetables" class="hero-section-img" />
    </div>
  </div>
</section>
