<section class="section-howitworks">
  <div class="image-box">
    <img class="howitworks-img" src="../img/howitworks.jpg" alt="howitworks" />
  </div>
  <div class="content-box">
    <p class="howitworks-header">
      TO ORDER YOUR <span class="span-howitworks">VEGETABLE</span> BASKET,
      SIMPLY FOLLOW THESE
      <span class="span-howitworks">EASY STEPS</span>
    </p>
    <p class="howitworks-paragraph">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <section class="content-box-list">
      <div class="content-box-list-item">
        <div class="content-circle">
          <p class="content-number">1</p>
        </div>
        <p class="content-paragraph">
          Just choose <b>the vegetable</b> you want to order by clicking on the
          checkboxes next to it.
        </p>
      </div>
      <div class="content-box-list-item">
        <div class="content-circle">
          <p class="content-number">2</p>
        </div>
        <p class="content-paragraph">
          Click on <b>the basket</b> and fill out the form.
        </p>
      </div>
      <div class="content-box-list-item">
        <div class="content-circle">
          <p class="content-number">3</p>
        </div>
        <p class="content-paragraph">
          Sit back and relax! Your <b>fresh vegetables</b> basket will be
          delivered.
        </p>
      </div>
    </section>
  </div>
</section>
