<section class="reviews-section">
  <div id="review">
    <p class="review-title">
      REVIEWS FROM OUR <span class="customers-span">CUSTOMERS</span>
    </p>
    <p class="title-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul id="customer-ul">
      <li class="customer-list">
        <div class="customers-container">
          <div class="customer-img">
            <img class="img" src="../img/john.jpg" alt="John Wax" />
          </div>
          <div class="customer-texts">
            <p class="subtitle">John Wax</p>
            <p class="text">
              These vegetables are my secret to delicious and healthy meals. The
              quality is always at the highest level, the aroma and taste are
              enchanting. I advise every fan of real products!
            </p>
          </div>
        </div>
      </li>
      <li class="customer-list">
        <div class="customers-container">
          <div class="customer-img">
            <img
              class="img"
              src="../img/victoria.jpg"
              alt="Victoria Romashenko"
            />
          </div>
          <div class="customer-texts">
            <p class="subtitle">Victoria Romashenko</p>
            <p class="text">
              I love how fast and fresh the vegetables are delivered. Salads
              always turn out so appetizing, and soups are real masterpieces.
              The quality is impeccable!
            </p>
          </div>
        </div>
      </li>
      <li class="customer-list">
        <div class="customers-container">
          <div class="customer-img">
            <img class="img" src="../img/ihor.jpg" alt="Ihor Trachuk" />
          </div>
          <div class="customer-texts">
            <p class="subtitle">Ihor Trachuk</p>
            <p class="text">
              Recently tried my fresh tomatoes and peppers - amazing! The
              authenticity of the taste, as if from the garden directly to my
              table. It is now my main vegetable supplier.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
