<section class="section-reviews">
  <div class="reviews-text">
    <p class="reviews-header">
      REVIEW FROM OUR <span class="span-customers">COSTUMERS</span>
    </p>
    <p class="reviews-paragraph">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
  </div>
  <div class="reviews-cards">
    <div class="review-card">
      <img class="card-img" src="../img/john.jpg" alt="jhon" />
      <p class="card-name">John Wax</p>
      <p class="card-content">
        These vegetables are my secret to delicious and healthy meals. The
        quality is always at the highest level, the aroma and taste are
        enchanting. I advise every fan of real products!
      </p>
    </div>
    <div class="review-card">
      <img class="card-img" src="../img/victoria.jpg" alt="victoria" />
      <p class="card-name">Victoria Romashenko</p>
      <p class="card-content">
        I love how fast and fresh the vegetables are delivered. Salads always
        turn out so appetizing, and soups are real masterpieces. The quality is
        impeccable!
      </p>
    </div>
    <div class="review-card">
      <img class="card-img" src="../img/ihor.jpg" alt="ihor" />
      <p class="card-name">Ihor Trachuk</p>
      <p class="card-content">
        Recently tried my fresh tomatoes and peppers - amazing! The authenticity
        of the taste, as if from the garden directly to my table. It is now my
        main vegetable supplier.
      </p>
    </div>
  </div>
</section>
