<section class="vegetables-section">
  <div class="vegetables-container">
    <p class="organic-section-title">
      ORGANIC <span class="organic-highlight">VEGATABLES</span>
    </p>
    <p class="vegetables-paragraph">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-card-ul">
      <li class="vegetables-card-li">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-amount">60 USD / kg</p>
        <div class="vegetables-card-image">
          <img
            src="../img/eggplant.jpg"
            alt="eggplant"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-card-li">
        <h3 class="vegetables-name">leek</h3>
        <p class="vegetables-amount">50 USD / kg</p>
        <div class="vegetables-card-image">
          <img src="../img/leek.jpg" alt="leek" width="282" height="243" />
        </div>
      </li>
      <li class="vegetables-card-li">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-amount">40 USD / kg</p>
        <div class="vegetables-card-image">
          <img
            src="../img/mushrooms.jpg"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-card-li">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-amount">60 USD / kg</p>
        <div class="vegetables-card-image">
          <img src="../img/corn.jpg" alt="corn" width="282" height="243" />
        </div>
      </li>
      <li class="vegetables-card-li">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-amount">50 USD / kg</p>
        <div class="vegetables-card-image">
          <img
            src="../img/sweetpotatoes.jpg"
            alt="sweet-potatoes"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-card-li">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-amount">40 USD / kg</p>
        <div class="vegetables-card-image">
          <img src="../img/carrot.jpg" alt="carrot" width="282" height="243" />
        </div>
      </li>
    </ul>
  </div>
</section>
