<section class="section-vegetables">
  <div class="vegetables-text">
    <p class="vegetables-header">
      ORGANIC <span class="vegetables-span">VEGETABLES</span>
    </p>
    <p class="vegetables-paragraph">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
  </div>
  <div class="vegetables-cards">
    <div class="vegetables-card">
      <section class="vegetables-card-items">
        <div class="vegetables-item-text">
          <p class="vegetables-item-name">eggplant</p>
          <p class="vegetables-item-price">60 USD/KG</p>
        </div>
        <img
          class="vegetables-item-pic"
          src="../img/eggplant.png"
          alt="eggplant"
        />
      </section>
    </div>
    <div class="vegetables-card">
      <section class="vegetables-card-items">
        <div class="vegetables-item-text">
          <p class="vegetables-item-name">leek</p>
          <p class="vegetables-item-price">50 USD/KG</p>
        </div>
        <img class="vegetables-item-pic" src="../img/leek.png" alt="leek" />
      </section>
    </div>
    <div class="vegetables-card">
      <section class="vegetables-card-items">
        <div class="vegetables-item-text">
          <p class="vegetables-item-name">mushrooms</p>
          <p class="vegetables-item-price">40 USD/KG</p>
        </div>
        <img
          class="vegetables-item-pic"
          src="../img/mushrooms.png"
          alt="mushrooms"
        />
      </section>
    </div>
    <div class="vegetables-card">
      <section class="vegetables-card-items">
        <div class="vegetables-item-text">
          <p class="vegetables-item-name">corn</p>
          <p class="vegetables-item-price">60 USD/KG</p>
        </div>
        <img class="vegetables-item-pic" src="../img/corn.png" alt="corn" />
      </section>
    </div>
    <div class="vegetables-card">
      <section class="vegetables-card-items">
        <div class="vegetables-item-text">
          <p class="vegetables-item-name">sweet potatoes</p>
          <p class="vegetables-item-price">50 USD/KG</p>
        </div>
        <img
          class="vegetables-item-pic"
          src="../img/sweetpotatoes.png"
          alt="sweetpotatoes"
        />
      </section>
    </div>
    <div class="vegetables-card">
      <section class="vegetables-card-items">
        <div class="vegetables-item-text">
          <p class="vegetables-item-name">carrot</p>
          <p class="vegetables-item-price">40 USD/KG</p>
        </div>
        <img class="vegetables-item-pic" src="../img/carrot.png" alt="carrot" />
      </section>
    </div>
  </div>
</section>
