<section class="section-yourorder">
  <div class="yourorder-text">
    <p class="yourorder-header">
      FRESH <span class="span-harvest">HARVEST</span> BOX HAS GOT YOU COVERED
    </p>
    <p class="yourorder-paragraph">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>
  <section class="form-n-social">
    <section class="yourorder-form-section">
      <div>
        <p class="form-paragraph">
          ORDERING <span class="span-from-us">FROM US</span> IS QUICK AND EASY!
          FILL OUT <span class="span-the-form">THE FORM</span> BELOW AND WE WILL
          CONTACT YOU!
        </p>
      </div>
      <div>
        <form class="yourorder-form" action="">
          <input class="form-item" type="text" placeholder="Full Name" />
          <input class="form-item" type="text" placeholder="Email" />
          <textarea
            class="form-item"
            name="form-comment"
            id="form-comment"
            placeholder="Comment"
          ></textarea>
          <button class="form-item form-button">SEND</button>
        </form>
      </div>
    </section>
    <section class="yourorder-social">
      <img
        class="social-media-img"
        src="../img/yourorder.jpg"
        alt="yourorder-img"
      />
      <section class="social-media-link-section">
        <p class="social-media-paragraph">Follow us on social network:</p>
        <p class="social-media-link">
          <a href="">instagram</a>
          /
          <a href="">facebook</a>
          /
          <a href="">youtube</a>
        </p>
      </section>
    </section>
  </section>
</section>
