.section-advertisement {
  width: 1080px;
  height: 240px;
  padding: 100px;
  background-color: #fbfbfb;
}

.advertisement-header {
  font-size: 76px;
  line-height: 80px;
  font-weight: 600;
}

.advertisement-span {
  border-radius: 12px;
  color: #fbfbfb;
  background-color: #576f35;
}