/* Hero styles */
.hero-section {
  margin-top: 0;
  margin: auto;
  width: auto;
  width: 1280px;
  height: 800px;
  background-color: #576f35;
}

.hero-section-main-div {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hero-section-h1-title {
  font-family: Inter, sans-serif;
  font-size: 70px;
  line-height: 76px;
  margin-left: 100px;
  color: #fbfbfb;
  width: 502px;
  height: 304px;
  word-wrap: break-word;
  padding-bottom: 128px;
  margin-top: 238px;
}

.hero-section-p-text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 100px;
  color: #fbfbfb;
  width: 472px;
  height: 80px;
  word-wrap: break-word;
  padding-bottom: 50px;
}

.hero-section-img {
  width: 650px;
  height: 800px;
  background-repeat: no-repeat;
  float: right;
}
