.section-howitworks {
  position: relative;
  width: 1280px;
  height: 759px;
  display: flex;
  padding: 100px, 100px, 160px, 100px;
}

.image-box {
  width: 630px;
  padding: 100px;
  align-items: center;
  background-color: #7a3145;
}

.howitworks-img {
  width: 430px;
  height: 559px;
  border-radius: 30px;
  object-fit: cover;
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding: 100px;
  gap: 25px;
  background-color: #576f35;
}

.howitworks-header {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #fbfbfb;
}

.span-howitworks {
  color: rgba(251, 251, 251, 0.3);
}

.howitworks-paragraph {
  color: #fbfbfb;
}

.content-box-list {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 268px;
  gap: 10px;
}

.content-box-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 450px;
  height: 42px;
  border-radius: 15px;
  background-color: #fbfbfb;
  padding-left: 12px;
  padding-top: 25px;
  padding-right: 12px;
  padding-bottom: 24px;
}

.content-circle {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  color: #fbfbfb;
  background-color: #7a3145;
  outline: 5px solid rgba(122, 49, 69, 0.3);
  border-radius: 50%;
}

.content-number {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.content-paragraph {
  font-size: 16px;
  line-height: 20px;
}