.howitworks-section {
  width: 1280px;
  height: 759px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.howitworks-left-blocks {
  width: 630px;
  height: 759px;
  padding: 100px 100px 160px 100px;
  opacity: 0px;
  background: #7a3145;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.howitworks-img {
  width: 430px;
  height: 559px;
  gap: 0px;
  border-radius: 30px 30px 30px 30px;
  opacity: 0px;
  background: rgba(20, 20, 20, 0.3);
}
.howitworks-right-blocks {
  width: 650px;
  height: 759px;
  padding: 100px 100px 160px 100px;
  opacity: 0px;
  background-color: #576f35;
}
.howitworks-text {
  width: 450px;
  height: 181px;
  margin: 25px;
}
.howitworks-up-text {
  width: 450px;
  height: 96px;
  font-family: 'Inter Tight';
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  margin-bottom: 25px;
}
.howitworks-down-text {
  width: 450px;
  height: 60px;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.input-span {
  font-weight: 700;
}
.howitworks-text-span {
  background-color: #fbfbfb4d;
}
.label {
  width: 401px;
  height: 52px;
  margin: 24px;
}
.block-input {
  border-radius: 15px;
  width: 450px;
  height: 76px;
  background: #fbfbfb;
  padding: 12px, 25px, 12px, 24px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.block-text {
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  width: 323px;
  height: 40px;
}
#first-text {
  width: 325px;
  height: 40px;
}
#second-text {
  width: 323px;
  height: 20px;
}
#third-text {
  width: 323px;
  height: 40px;
}
.number {
  width: 42px;
  height: 42px;
  background-color: rgba(122, 49, 69, 1);
  color: rgba(251, 251, 251, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.block-content {
  width: 52px;
  height: 52px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px solid rgba(122, 49, 69, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 5px, 5px, 5px, 5px;
}
.block-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
