.reviews-section {
  background-color: #fbfbfb;
  padding: 100px;
}

.review-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  color: #141414;
  width: 40%;
}
.customers-span {
  color: #576f35;
}
.title-text {
  color: #141414;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
  width: 33%;
}

#customer-ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.customer-list {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 25px;
  padding: 20px;
  border-radius: 24px;
  width: 343px;
  height: 258px;
  display: flex;
}
.customer-img {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  margin: 0 auto;
  color: rgba(224, 224, 224, 1);
}

.customer-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 85%;
}
.subtitle {
  color: #141414;
  font-weight: 600;
  font-size: 18px;
  line-height: 19.8px;
  padding-top: 35px;
  padding-bottom: 15px;
}
.text {
  color: rgba(20, 20, 20, 0.4);
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
}
