.reviews-section {
    background-color: #fbfbfb;
    padding: 100px;
  }
  #review {
  }
  .review-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    color: #141414;
  }
  .customers-span {
    color: #576F35;
  }
  .title-text {
    color: #141414;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  #customer-ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
  .customer-list {
    width: calc((100%-100px)/3);
    border: 1px solid rgba(122, 49, 69, 0.3);
    border-radius: 25px;
    padding: 20px;
    border-radius: 24px;
  }
  
  .customer-img {
    width: 56px;
    height: 56px;
    border-radius: 100px;
  }
  .subtitle {
    color: #141414;
    width: 600;
    font-size: 18px;
    line-height: 19.8px;
  }
  
  .customer-texts { 
  }