.section-reviews {
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding: 100px;
  gap: 50px;
  background-color: #fbfbfb;
  margin: auto;
}

.reviews-text {
  display: flex;
  flex-direction: column;
  width: 630px;
  gap: 25px;
}

.reviews-header {
  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  width: 95%;
}

.span-customers {
  color: #576f35;
}

.reviews-paragraph {
  font-size: 16px;
  line-height: 20px;
  width: 90%;
}

.reviews-cards {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 258px;
  padding: 20px;
  gap: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
}

.card-img {
  width: 56px;
  height: 56px;
  border-radius: 72px;
}

.card-name {
  font-size: 18px;
  line-height: 19.8px;
  font-weight: 600;
}

.card-content {
  display: flex;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: rgba(20, 20, 20, 0.4);
}

@media (max-width: 800px) {
  
}

@media (max-width: 350px) {
  
}
