.vegetables-section {
  background-color: #7a3145;
}

.organic-section-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-right: 118px;
  margin-bottom: 25px;
  padding-top: 100px;
  padding-left: 100px;
}

.organic-highlight {
  font-size: 64px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -1.5;
  text-transform: uppercase;
  display: block;
  color: rgba(240, 220, 220, 0.5);
}

.vegetables-paragraph {
  width: 626px;
  gap: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25em;
  color: #fbfbfb;
  margin-bottom: 50px;
  padding-left: 100px;
}

.vegetables-card-ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.vegetables-card-li {
  background-color: #ffffff;
  width: 346px;
  height: 379px;
  border-radius: 40px;
  padding-left: 100px;
  padding: 32px;
  margin-right: 21px;
  margin-bottom: 28px;
  gap: 10px;
}

.vegetables-name {
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -1.5;
  text-transform: lowercase;
  color: #7a3145;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.vegetables-amount {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -1.5;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 10px;
  margin-left: 32px;
}

.vegetables-card-image {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  overflow-clip-margin: content-box;
  overflow: clip;
}
