.section-yourorder {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: calc(100%-224px);
  padding: 100px;
  gap: 50px;
  background-color: #7a3145;
}

.yourorder-text {
  display: flex;
  flex-direction: column;
  width: calc(70%);
  gap: 25px;
}

.yourorder-header {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.04em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.04em;
  width: 50%;
  color: #fbfbfb;
}

.span-harvest {
  color: rgba(251, 251, 251, 0.3);
}

.yourorder-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  width: 50%;
  color: #fbfbfb;
}

.form-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100%);
  height: calc(70%);
  gap: 24px;
}

.yourorder-form {
  width: 529px;
  height: 534px;
}

.form-item-container {
  display: flex;
  flex-direction: column;
  width: calc(40%);
  min-width: 374px;
  padding: 50px;
  gap: 10px;
  border-radius: 30px;
  background-color: #fbfbfb;
}

.form-paragraph {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.04em;
}

.span-from-us {
  color: #7a3145;
}

.span-the-form {
  color: #576f35;
}

.yourorder-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.form-item {
  width: 90%;
  border-radius: 30px;
  padding: 16px;
}

.form-item:focus {
  outline-color: #7a3145;
}

.form-email:valid {
  outline-color: #576f35;
}

.form-email:invalid {
  outline-color: #e74a3b;
}

.form-textarea {
  resize: none;
  height: 65px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding: 16px;
}

.form-textarea {
  outline-color: #7a3145;
}

.form-button {
  background-color: #576f35;
  color: #fbfbfb;
}

.yourorder-social {
  display: flex;
  flex-direction: column;
  width: calc(40%);
  min-width: 374px;
  padding: 50px;
  gap: 50px;
  background-color: #576f35;
  border-radius: 30px;
}

.social-media-img {
  display: flex;
  align-items: center;
  width: calc(100%);
  border-radius: 15px;
}

.social-media-link-section {
  gap: 15px;
}

.social-media-paragraph {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(251, 251, 251, 0.5);
}

.social-media-link {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #fbfbfb;
}

.media-link:hover {
  color: #7a3145;
}

@media (max-width: 1279) {
  .section-yourorder {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
  }
  .yourorder-text {
    width: calc(100%);
    padding-left: 32px;
    padding-right: 96px;
  }
  .form-n-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100%);
    gap: 25px;
    padding-right: 70px;
    padding-left: 70px;
  }
  .yourorder-form-section {
    width: 628px;
  }
  .yourorder-form {
    gap: 10px;
  }
  .yourorder-social {
    width: 628px;
  }
}

@media (max-width: 767) {
}
